.Banner
    .Banner-img
        .Banner-container
            .Banner-navigation
                include ./navigation
            .Banner-copy
                h1.Banner-title Into the new
                p.Banner-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptatibus qui.
                a(href="#").Banner-button.Button Learn More
