section.Features
    .Feature
        img.Feature-img(src="./public/img/hotel-4.jpg", alt="")
        .Feature-copy
            h3.Feature-title Green Intro Design
            p.Feature-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloremque atque earum.
            a(href="#").Feature-button View more
    .Feature
        img.Feature-img(src="./public/img/hotel-2.jpg", alt="")
        .Feature-copy
            h3.Feature-title Love space
            p.Feature-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloremque atque earum.
            a(href="#").Feature-button View more
    .Feature
        img.Feature-img(src="./public/img/hotel-6.jpg", alt="")
        .Feature-copy
            h3.Feature-title Expert Interior
            p.Feature-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloremque atque earum.
            a(href="#").Feature-button View more

