section.Menu
    .Menu-containerLogo
        h2.Menu-logo Hotel
    .Menu-containerMenu
        .Menu-toggle.icon-menu#navId-toggle Menu
        nav.Menu-nav#navId
            ul.Menu-list#menuId
                li.Menu-listItem: a(href="#").Menu-listLink Home
                li.Menu-listItem: a(href="#").Menu-listLink Projects
                li.Menu-listItem: a(href="#").Menu-listLink Services
                li.Menu-listItem: a(href="#").Menu-listLink About
                li.Menu-listItem: a(href="#").Menu-listLink Blog
                li.Menu-listItem: a(href="#").Menu-listLink News
                li.Menu-listItem: a(href="#").Menu-listLink Contacts
