section.Projects
    .Project-container
        h3.Project-title Our Project
        p.Project-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia quos ullam.
        .Project-containerImages
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-1.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-2.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-3.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-4.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/banner.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-6.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-7.jpg", alt="")
            .Project-containerImg
                img.Project-img(src="./public/img/hotel-8.jpg", alt="")

    .Project-footer
        a.Project-footerButton(href="#") View all projects
