section.Our
    .Our-containerImg
        .Our-title
            span Our specialization
        .Our-img
            img(src="./public/img/hotel-3.jpg")
    .Our-containerInfo
        h2.Our-infoTitle We turn great ideas to make creative
        p.Our-infoDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nostrum, optio perferendis voluptatibus error deleniti quasi corporis reiciendis fugit.
